/*animaciones para links*/
.list{
    list-style: none;
    text-align: center;
    background-color: #ebebeb;
  }
  .link{
    display: inline-block;
    margin-block: 2px;
    color:#000000;
    position: relative;
    margin-top:10px;
    font-size: 2rem;
  }
  .link::after{
    content:'';
    width: 100%;
    height:2px;
    background-color: #000000;
    border-radius:10px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform:scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
  }
  .link:hover::after{
    transform:scaleX(1);
  }
  