$color-1: #ffffff;
$color-2: #efefef;
$color-3: #dfdfdf;
$color-4: #cfcfcf;
$color-5: #bfbfbf;
$color-6: #afafaf;
$color-7: #9f9f9f;
$color-8: #8f8f8f;
.color1{
    background-color: $color-1;
}
.color2{
  background-color: $color-2;
}
.color3{
  background-color: $color-3;
}
.color4{
  background-color: $color-4;
}
.color5{
  background-color: $color-5;
}.color6{
  background-color: $color-6;
}
.color7{
  background-color: $color-7;
}
.color8{
  background-color: $color-8;
}
.color_text{
color: black;
}