.navbar-brand {
    margin-left: 10px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    padding-left: 5px;
    padding-right: 5px;
}

.nav_link {
    color: rgb(255, 255, 255);
}